/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #000;

$mainFontSize: inherit;
//$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
//$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$mainFont: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
$headingFont: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;

$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #901a1e;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.0em;
$heading2Size: 1.4em;
$heading3Size: 1.2em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

$slidePadding: 12vmin;
$fontSize: 3.75vmin;
$fontSizeSmall: 3.25vmin;

$highlightColor: yellow;
$highlightPadding: 0;

html {
	font-size: $fontSize;
}

// Grid
.grid-wrapper {
	display: grid;
}

.reveal .slides {
	text-align: left;
}

.reveal .slides section {
	box-sizing: border-box;
	padding: 0;
}

@mixin section ($margin: 0) {
	@if ($margin == 0) {
		height: 100vh;
		margin: 0;
		width: 100vw;
	}
	@else {
		height: calc(100vh - #{2 * $margin});
		margin: $margin;
		width: calc(100vw - #{2* $margin});
	}
}

.reveal .slides section {
	@include section();

	.grid-wrapper {
		box-sizing: border-box;
		grid-column-gap: $slidePadding;
		grid-row-gap: $slidePadding/2;
		grid-template-areas: "header" "content";
		grid-template-rows: 1fr 1fr;
		height: 100%;
		padding: $slidePadding;
	}

	.gfx {
		background-repeat: no-repeat;		
		background-size: auto 100%;
		display: inline-block;
	}
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

/*.reveal .slides span.highlight {
    display: inline;
    background: $highlightColor;
    color: $mainColor; 
    padding: $highlightPadding;
}*/

.reveal .slides span.highlight {
	border-radius: 1em 0 1em 0;
	text-shadow: 1px 1px 1px #fff;
    background-image: 
	    linear-gradient(-100deg, 
	      rgba(255,250,150,0.15),
	      rgba(255,250,150,0.7) 100%, 
	      rgba(255,250,150,0.25));
}

.reveal .slides {
	h2 {
		text-align: center;
	}
}

.reveal .slides .threecolstworows {
	.grid-wrapper {
		grid-template-areas: "header header header" "topleft topcenter topright" "bottomleft bottomcenter bottomright";
		grid-template-rows: 1fr 3fr 1fr;
		grid-template-columns: 1fr 1fr 1fr; 
	}

	h2 {
		grid-area: header;
	}

	.topleft {
		grid-area: topleft;
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		text-align: center;
	}

	.topcenter {
		grid-area: topcenter;
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		text-align: center;
	}

	.topright {
		grid-area: topright;
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		text-align: center;
	}

	.bottomleft {
		grid-area: bottomleft;
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		text-align: center;
		font-size: $fontSizeSmall;
	}

	.bottomcenter {
		grid-area: bottomcenter;
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		text-align: center;
		font-size: $fontSizeSmall;
	}

	.bottomright {
		grid-area: bottomright;
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		text-align: center;
		font-size: $fontSizeSmall;
	}
}

.reveal .slides .onecolonerow {
	.grid-wrapper {
		grid-template-areas: "header" "element1";
		grid-template-rows: 1fr 4fr;
		grid-template-columns: 1fr; 
	}

	h2 {
		grid-area: header;
	}

	.element1 {
		grid-area: element1;
		text-align: center;
		font-size: $fontSize;	
	}
}

.reveal .slides .onecolthreerows {
	.grid-wrapper {
		grid-template-areas: "header" "element1" "element2" "element3";
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr; 
	}

	h2 {
		grid-area: header;
	}

	.element1, .element2, .element3 {
		text-align: center;
		font-size: $fontSize;
	}

	.element1 {
		grid-area: element1;
	}
	.element2 {
		grid-area: element2;
	}
	.element3 {
		grid-area: element3;
	}
}

.reveal .slides .onecolfourrows {
	.grid-wrapper {
		grid-template-areas: "header" "element1" "element2" "element3" "element4";
		grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr; 
	}

	h2 {
		grid-area: header;
	}

	.element1, .element2, .element3, .element4 {
		text-align: center;
		font-size: $fontSize;
	}

	.element1 {
		grid-area: element1;
	}
	.element2 {
		grid-area: element2;
	}
	.element3 {
		grid-area: element3;
	}
	.element4 {
		grid-area: element4;
	}
}


.reveal .slides section.titleslide {

	.grid-wrapper {
		grid-template-areas: "." "title" "subtitle";
		grid-template-rows: 2fr 3fr 3fr;
		grid-template-columns: 1fr;
	}

	h1 {
		grid-area: title;
		justify-self: center;
		align-self: center;
		text-align: center;
	}

	.subtitle {
		font-size: $fontSize;
		grid-area: subtitle;
		justify-self: stretch;
		align-self: stretch;
		text-align: center;
		line-height: 1.5em;
	}
}

.reveal .slides section.econometrics2 {

	.grid-wrapper {
		grid-template-areas: "content" "gfx";
		grid-template-rows: 1fr 2fr;
	}

	.content {
		grid-area: content;
	}

	.gfx {
		grid-area: gfx;
	}

	.timeseries {
		background-image: url("lib/media/timeseries.png");
		background-position: right bottom;
	}	
}


.reveal .slides section.restructure {

	.grid-wrapper {
		grid-template-areas: "gfx description" "header header";
		grid-template-rows: 4fr 1fr;
		grid-template-columns: 1fr 2fr;
	}	

	.description {
		grid-area: description;
	}

	.gfx {
		grid-area: gfx;
	}

	h2 {
		grid-area: header;
		justify-self: center;
		align-self: end;
		text-align: center;
	}

	.rideabike {
		background-image: url("lib/media/rideabike.png");
		background-position: left center;
		padding-left: 4vmin;
	}
}

.reveal .slides section.theloop {
	
	.topleft {
		background-image: url("lib/media/feedback_activity.png");
	}

	.topcenter {
		background-image: url("lib/media/feedback_feedback.png");
	}

	.topright {
		background-image: url("lib/media/feedback_revise.png");
	}
}

.reveal .slides section.prepare {
	.topleft {
		background-image: url("lib/media/video.png");
	}

	.topcenter {
		background-image: url("lib/media/reviewquiz.png");
	}
	
	.topright {
		background-image: url("lib/media/question.png");
	}
}

.reveal .slides section.prepare-video {
	.grid-wrapper {
		grid-template-areas: "video";
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
	}	
	.video {
		grid-area: video;
		align-self: stretch;
		justify-self: stretch;
		text-align: center;
	}
}

.reveal .slides section.lectures {
	.topleft {
		background-image: url("lib/media/socrative.png");
	}

	.topcenter {
		background-image: url("lib/media/miniexercise.png");
	}

	.topright {
		background-image: url("lib/media/lecture.png");
	}
}


.reveal .slides section.theoreticalexercises {
	.topleft {
		background-image: url("lib/media/videoex.png");
	}

	.topcenter {
		background-image: url("lib/media/feedback.png");
	}

	.topright {
		background-image: url("lib/media/solution.png");
	}	
}


.reveal .slides section.empiricalexercises {
	.topleft {
		background-image: url("lib/media/screencast.png");
	}

	.topcenter {
		background-image: url("lib/media/tutorial.png");
	}

	.topright {
		background-image: url("lib/media/feedbackta.png");
	}
}

.reveal .slides section.empiricalexercise-video {
	.grid-wrapper {
		grid-template-areas: "video";
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
	}	
	.video {
		grid-area: video;
		align-self: stretch;
		justify-self: stretch;
		text-align: center;
	}
}

.reveal .slides section.assignments {
	.grid-wrapper {
		grid-template-areas: "header" "gfx" "headerbottom";
		grid-template-rows: 1fr 4fr 1fr;
		grid-template-columns: 1fr;
	}	

	h2.headertop {
		grid-area: header;
		text-align: center;
	}

	.gfx {
		grid-area: gfx;
		background-image: url("lib/media/assignments.png");
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	h2.headerbottom {
		grid-area: headerbottom;
		text-align: center;
	}
}

.reveal .slides section.assignments2 {

	.grid-wrapper {
		grid-template-areas: "header" "gfx" "headerbottom";
		grid-template-rows: 1fr 4fr 1fr;
		grid-template-columns: 1fr;
	}	

	h2.headertop {
		grid-area: header;
		text-align: center;
	}

	.gfx {
		grid-area: gfx;
		background-image: url("lib/media/assignments2.png");
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	h2.headerbottom {
		grid-area: headerbottom;
		text-align: center;
	}
}

.reveal .slides section.peerfeedback {

	.grid-wrapper {
		grid-template-areas: "gfx" "headerbottom";
		grid-template-rows: 4fr 1fr;
		grid-template-columns: 1fr;
	}	

	.gfx {
		grid-area: gfx;
		background-image: url("lib/media/peerfeedback.png");
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	h2.headerbottom {
		grid-area: headerbottom;
		text-align: center;
	}
}

.reveal .slides section.peergrade {

	.grid-wrapper {	
		grid-template-rows: 2fr 2fr 1fr;
	}

	h2 {
		grid-area: header;
		background-image: url("lib/media/peergrade.png");
		background-position: top center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.topleft {
		background-image: url("lib/media/peerfeedback1.png");
	}

	.topcenter {
		background-image: url("lib/media/peerfeedback2.png");
	}

	.topright {
		background-image: url("lib/media/peerfeedback3.png");
	}
}

.reveal .slides section.assessmentcriteria {
	.topleft {
		background-image: url("lib/media/arrow.png");
	}

	.topcenter {
		background-image: url("lib/media/comments.png");
	}

	.topright {
		background-image: url("lib/media/generalfeedback.png");
	}
}


.reveal .slides section.receivefeedback {
	.topleft {
		background-image: url("lib/media/receivefeedback.png");
	}

	.topcenter {
		background-image: url("lib/media/receivefeedback2.png");
	}

	.topright {
		background-image: url("lib/media/receivefeedback3.png");
	}
}

.reveal .slides section.learning {
	.element1 {
		background-image: url("lib/media/FigLearning.png");
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
	}
}

.reveal .slides section.thanks {

	.grid-wrapper {
		grid-template-areas: "." "header" "subtitle";
		grid-template-rows: 1fr 2fr 1fr;
		grid-template-columns: 1fr;
	}

	h2 {
		grid-area: header;
		justify-self: center;
		align-self: stretch;
		text-align: center;
		align-item: center;
	}	

	.subtitle {
		grid-area: subtitle;
		text-align: center;
	}
}
